.full-page-controls button:nth-child(1) {
  display: none;
}

.full-page-controls button:nth-last-child(1) {
  display: none;
}

.full-page-controls button {
  background-color: black;
  border-radius: 10px;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  font-size: 0px;
  cursor: pointer;
}

.full-page-controls {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 50%;
  align-items: flex-end;
  z-index: 9999;
}

.full-page-controls button:disabled {
  background-color: blue;
  border: 1px solid white;
}